<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scheme</key>
	<array>
		<dict>
			<key>id</key>
			<string>name</string>
			<key>type</key>
			<string>string</string>
			<key>title</key>
			<string>Name</string>
			<key>required</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>lastName</string>
			<key>type</key>
			<string>string</string>
			<key>title</key>
			<string>Last Name</string>
			<key>required</key>
			<false/>
		</dict>
		<dict>
			<key>id</key>
			<string>birthdate</string>
			<key>type</key>
			<string>date</string>
			<key>title</key>
			<string>Birthday</string>
			<key>required</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>childrenCount</string>
			<key>type</key>
			<string>number</string>
			<key>title</key>
			<string>Children Count</string>
			<key>required</key>
			<false/>
		</dict>
	</array>
	<key>data</key>
	<array>
		<dict>
			<key>childrenCount</key>
			<string></string>
			<key>birthdate</key>
			<string>7.05.1995</string>
			<key>lastName</key>
			<string></string>
			<key>name</key>
			<string>Max</string>
		</dict>
		<dict>
			<key>childrenCount</key>
			<string></string>
			<key>birthdate</key>
			<string>17.08.1955</string>
			<key>lastName</key>
			<string>Smith</string>
			<key>name</key>
			<string>James</string>
		</dict>
		<dict>
			<key>childrenCount</key>
			<string>5</string>
			<key>birthdate</key>
			<string>12.12.1993</string>
			<key>lastName</key>
			<string>Conor</string>
			<key>name</key>
			<string>Alex</string>
		</dict>
		<dict>
			<key>childrenCount</key>
			<string></string>
			<key>birthdate</key>
			<string>4.05.1974</string>
			<key>lastName</key>
			<string></string>
			<key>name</key>
			<string>Helen</string>
		</dict>
		<dict>
			<key>childrenCount</key>
			<string>1</string>
			<key>birthdate</key>
			<string>12.02.1995</string>
			<key>lastName</key>
			<string>Paul</string>
			<key>name</key>
			<string>Harvy</string>
		</dict>
	</array>
</dict>
</plist>
